body {
  margin: 0;
  font-family: 'malayalam', sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #101225;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 1rem 0;
  cursor: pointer;
}

.main-content {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

.current-weather, .today-forecast, .air-conditions, .weekly-forecast {
  background-color: #16182e;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.typewriter-holder {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 35px;
  color: white;
  margin-top: 10px ;
  border-radius: 20px;
  padding: 10px 10px;
  z-index: 1;
  position:absolute;
  background-color: rgba(145, 127, 127, 0.2) ;

  width: 450;
  
  display:inline;
  left: 20px;
}

.background-video {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  overflow:hidden; 
  z-index: -1; 
}

.crop-card{
  z-index: 1;
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #47FF5B;
  margin: 15px;
  height: 200px;
  box-shadow: 0 2px 5px #ffdfdf;
  width: 400px;
  height: 150px;
}

.plant-name{
  font-size: 35px;
  font-weight: 500;
  margin-top: 0px;
  z-index: 1;
  width: auto;
  position: static;
  top: 15px;
  margin-bottom: 0px;
}

.circle-img {
  border-radius: 50%;
  border: 4px solid #6B3F36;
  width: 80px;
  height: 80px;
  margin-left: 300px;
  position: absolute;
  bottom: 80px;
  top: 15px;
}

.plant-description {
  font-size: small;
  padding-left: 0;
  display:list-item;
  margin-left: 20px;
}


.description-card{
  z-index: -1;
  background-color: #F9F7DD;
  box-shadow: 0 2px 5px #ffffff;
  border-radius: 10px;
  position: absolute;
  width: 400px;
  height: 90px;
}

.fertilizer-name {
  margin-top: 5px;
  margin-bottom: 10px;
}